{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="name" placeholder="name" type="text" required>
        </div>

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="address" placeholder="address" type="text" required>
        </div>

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="birthdate" placeholder="birthdate" type="text" required>
        </div>

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="email" placeholder="email" type="email" required>
        </div>

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="phone" placeholder="phone" type="text" required>
        </div>

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="website" placeholder="website" type="text" required>
        </div>

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="education" placeholder="education" type="text" required>
        </div>

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="current_situation" placeholder="current situation" type="text" required>
        </div>

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="goals" placeholder="goals" type="text" required>
        </div>

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="password" type="password" required>
        </div>

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="confirm password" type="password" required>
        </div>

        <button class="btn btn-dark" type="submit">Register</button>
    </form>
{% endblock %}